<div class="container">
  <div class="row">
    <div class="col-9">
      <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th scope="col">Ticker</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
        <% @tracked_stocks.each do |stock| %>
          <tr>
            <th scope="row"><%= stock.ticker %></th>
            <td><%= stock.name %></td>
            <td><%= stock.last_price %></td>
            <td><% if current_user.can_track_stock?(stock.ticker) %>
            <%= link_to "Add to Portfolio", user_stocks_path(user: current_user, ticker: stock.ticker),
                                                      class: "btn btn-xs btn-success", method: :post %>
            <% elsif current_user.id != @user.id %>
              <span class="badge badge-default>
                You are already tracking
                <% if !current_user.under_stock_limit? %>
                  10 stocks
                <% end %>
                <% if current_user.stock_already_tracked?(stock.ticker) %>
                  This stock
                <% end %>
              </span>
            <% end %>
            <% if current_user.id == @user.id %>
              <%= link_to 'Remove', user_stock_path(stock), method: :delete, data: {confirm: 'Are you sure?'},
                                                                            class: 'btn btn-sm btn-warning' %>
            </td>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>