@import 'bootstrap/dist/css/bootstrap';

.search-area {
  padding-top: 50px;
}

.results-block {
  display: inline-block;
  margin-bottom: 1rem;
}

.logout-button {
  margin-right: 5px;
}

.user-name {
  margin-top: 3.5%;
  padding-right: 10px;
}
